<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>child_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {367, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{367, 222}</string>
			<key>spriteSourceSize</key>
			<string>{367, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {367, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {204, 227}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{204, 227}</string>
			<key>spriteSourceSize</key>
			<string>{204, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{629, 0}, {204, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {161, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{161, 226}</string>
			<key>spriteSourceSize</key>
			<string>{161, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 681}, {161, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {164, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 226}</string>
			<key>spriteSourceSize</key>
			<string>{164, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 453}, {164, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {164, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 225}</string>
			<key>spriteSourceSize</key>
			<string>{164, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 678}, {164, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {158, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{158, 226}</string>
			<key>spriteSourceSize</key>
			<string>{158, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{329, 681}, {158, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_run_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 226}</string>
			<key>spriteSourceSize</key>
			<string>{220, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 224}, {220, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_run_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{184, 226}</string>
			<key>spriteSourceSize</key>
			<string>{184, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{835, 227}, {184, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {258, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{258, 225}</string>
			<key>spriteSourceSize</key>
			<string>{258, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 0}, {258, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{186, 225}</string>
			<key>spriteSourceSize</key>
			<string>{186, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{835, 0}, {186, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {178, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{178, 224}</string>
			<key>spriteSourceSize</key>
			<string>{178, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 452}, {178, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 224}</string>
			<key>spriteSourceSize</key>
			<string>{174, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{546, 229}, {174, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {178, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{178, 224}</string>
			<key>spriteSourceSize</key>
			<string>{178, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 227}, {178, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_1_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {45, 80}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{45, 80}</string>
			<key>spriteSourceSize</key>
			<string>{53, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{277, 312}, {45, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_1_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 80}</string>
			<key>spriteSourceSize</key>
			<string>{53, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 308}, {53, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_2_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 1}, {44, 76}}</string>
			<key>spriteOffset</key>
			<string>{14, 2}</string>
			<key>spriteSize</key>
			<string>{44, 76}</string>
			<key>spriteSourceSize</key>
			<string>{72, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 390}, {44, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_2_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 82}</string>
			<key>spriteSourceSize</key>
			<string>{72, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 224}, {72, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_3_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 10}, {42, 76}}</string>
			<key>spriteOffset</key>
			<string>{13, -5}</string>
			<key>spriteSize</key>
			<string>{42, 76}</string>
			<key>spriteSourceSize</key>
			<string>{68, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 394}, {42, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_3_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 86}</string>
			<key>spriteSourceSize</key>
			<string>{68, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 224}, {68, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>characters.zwd</string>
		<key>textureFileName</key>
		<string>characters.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>