<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>child_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {367, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{367, 222}</string>
			<key>spriteSourceSize</key>
			<string>{367, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {367, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {204, 227}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{204, 227}</string>
			<key>spriteSourceSize</key>
			<string>{204, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{333, 513}, {204, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {161, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{161, 226}</string>
			<key>spriteSourceSize</key>
			<string>{161, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1343, 684}, {161, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {164, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 226}</string>
			<key>spriteSourceSize</key>
			<string>{164, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{657, 666}, {164, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {164, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 225}</string>
			<key>spriteSourceSize</key>
			<string>{164, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1762, 452}, {164, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {158, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{158, 226}</string>
			<key>spriteSourceSize</key>
			<string>{158, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 970}, {158, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_run_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 226}</string>
			<key>spriteSourceSize</key>
			<string>{220, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{944, 0}, {220, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_run_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{184, 226}</string>
			<key>spriteSourceSize</key>
			<string>{184, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1346, 456}, {184, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor2_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {273, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{273, 286}</string>
			<key>spriteSourceSize</key>
			<string>{273, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{669, 0}, {273, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor2_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {197, 285}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{197, 285}</string>
			<key>spriteSourceSize</key>
			<string>{197, 285}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1599, 0}, {197, 285}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor2_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 285}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 285}</string>
			<key>spriteSourceSize</key>
			<string>{160, 285}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{823, 742}, {160, 285}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor2_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {185, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{185, 286}</string>
			<key>spriteSourceSize</key>
			<string>{185, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1575, 287}, {185, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor2_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {161, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{161, 286}</string>
			<key>spriteSourceSize</key>
			<string>{161, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{169, 904}, {161, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor2_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {165, 285}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{165, 285}</string>
			<key>spriteSourceSize</key>
			<string>{165, 285}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1118}, {165, 285}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {298, 285}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{298, 285}</string>
			<key>spriteSourceSize</key>
			<string>{298, 285}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 0}, {298, 285}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {199, 287}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{199, 287}</string>
			<key>spriteSourceSize</key>
			<string>{199, 287}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 602}, {199, 287}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {157, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{157, 286}</string>
			<key>spriteSourceSize</key>
			<string>{157, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{167, 1192}, {157, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {181, 285}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{181, 285}</string>
			<key>spriteSourceSize</key>
			<string>{181, 285}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{870, 455}, {181, 285}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {158, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{158, 286}</string>
			<key>spriteSourceSize</key>
			<string>{158, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{638, 894}, {158, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {163, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{163, 286}</string>
			<key>spriteSourceSize</key>
			<string>{163, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1532, 575}, {163, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon2_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {241, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{241, 149}</string>
			<key>spriteSourceSize</key>
			<string>{241, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 451}, {241, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon2_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {209, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{209, 192}</string>
			<key>spriteSourceSize</key>
			<string>{209, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1166, 227}, {209, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon2_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {134, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{134, 149}</string>
			<key>spriteSourceSize</key>
			<string>{134, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 815}, {134, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon2_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {129, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{129, 149}</string>
			<key>spriteSourceSize</key>
			<string>{129, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 602}, {129, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon2_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 149}</string>
			<key>spriteSourceSize</key>
			<string>{127, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 753}, {127, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon2_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 149}</string>
			<key>spriteSourceSize</key>
			<string>{132, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 966}, {132, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {170, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{170, 149}</string>
			<key>spriteSourceSize</key>
			<string>{170, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{660, 515}, {170, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {163, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{163, 149}</string>
			<key>spriteSourceSize</key>
			<string>{163, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1053, 649}, {163, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 148}</string>
			<key>spriteSourceSize</key>
			<string>{123, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1218, 649}, {123, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 148}</string>
			<key>spriteSourceSize</key>
			<string>{116, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1928, 452}, {116, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 149}</string>
			<key>spriteSourceSize</key>
			<string>{116, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{539, 664}, {116, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{119, 149}</string>
			<key>spriteSourceSize</key>
			<string>{119, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{539, 513}, {119, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_1_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {45, 80}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{45, 80}</string>
			<key>spriteSourceSize</key>
			<string>{53, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 396}, {45, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_1_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 80}</string>
			<key>spriteSourceSize</key>
			<string>{53, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{607, 287}, {53, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_2_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 1}, {44, 76}}</string>
			<key>spriteOffset</key>
			<string>{14, 2}</string>
			<key>spriteSize</key>
			<string>{44, 76}</string>
			<key>spriteSourceSize</key>
			<string>{72, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{243, 478}, {44, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_2_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 82}</string>
			<key>spriteSourceSize</key>
			<string>{72, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 224}, {72, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_3_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 10}, {42, 76}}</string>
			<key>spriteOffset</key>
			<string>{13, -5}</string>
			<key>spriteSize</key>
			<string>{42, 76}</string>
			<key>spriteSourceSize</key>
			<string>{68, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{289, 478}, {42, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_3_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 86}</string>
			<key>spriteSourceSize</key>
			<string>{68, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 308}, {68, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief2_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {249, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{249, 224}</string>
			<key>spriteSourceSize</key>
			<string>{249, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 287}, {249, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief2_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{168, 226}</string>
			<key>spriteSourceSize</key>
			<string>{168, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 742}, {168, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief2_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 223}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{186, 223}</string>
			<key>spriteSourceSize</key>
			<string>{186, 223}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1798, 227}, {186, 223}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief2_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{186, 225}</string>
			<key>spriteSourceSize</key>
			<string>{186, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1798, 0}, {186, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief2_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {196, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{196, 226}</string>
			<key>spriteSourceSize</key>
			<string>{196, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1377, 228}, {196, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief2_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {191, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{191, 226}</string>
			<key>spriteSourceSize</key>
			<string>{191, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1153, 421}, {191, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {280, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{280, 225}</string>
			<key>spriteSourceSize</key>
			<string>{280, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 224}, {280, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {167, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{167, 225}</string>
			<key>spriteSourceSize</key>
			<string>{167, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 891}, {167, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {206, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{206, 225}</string>
			<key>spriteSourceSize</key>
			<string>{206, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 288}, {206, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {207, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{207, 225}</string>
			<key>spriteSourceSize</key>
			<string>{207, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{944, 228}, {207, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{218, 225}</string>
			<key>spriteSourceSize</key>
			<string>{218, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1166, 0}, {218, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {211, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{211, 226}</string>
			<key>spriteSourceSize</key>
			<string>{211, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1386, 0}, {211, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>characters.zwd</string>
		<key>textureFileName</key>
		<string>characters.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>