<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>boss_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {214, 288}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{214, 288}</string>
			<key>spriteSourceSize</key>
			<string>{214, 288}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 578}, {214, 288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>boss_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {215, 288}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{215, 288}</string>
			<key>spriteSourceSize</key>
			<string>{215, 288}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{637, 288}, {215, 288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {228, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{228, 138}</string>
			<key>spriteSourceSize</key>
			<string>{228, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{243, 860}, {228, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {134, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{134, 149}</string>
			<key>spriteSourceSize</key>
			<string>{134, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1070, 1389}, {134, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 148}</string>
			<key>spriteSourceSize</key>
			<string>{106, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 1019}, {106, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 148}</string>
			<key>spriteSourceSize</key>
			<string>{106, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1013, 676}, {106, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {109, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{109, 149}</string>
			<key>spriteSourceSize</key>
			<string>{109, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1432, 239}, {109, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 149}</string>
			<key>spriteSourceSize</key>
			<string>{144, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{805, 1157}, {144, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_run_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {121, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{121, 149}</string>
			<key>spriteSourceSize</key>
			<string>{121, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{947, 1390}, {121, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>child_run_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 148}</string>
			<key>spriteSourceSize</key>
			<string>{103, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1017, 526}, {103, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor2_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {273, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{273, 286}</string>
			<key>spriteSourceSize</key>
			<string>{273, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 0}, {273, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor2_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {197, 285}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{197, 285}</string>
			<key>spriteSourceSize</key>
			<string>{197, 285}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1348}, {197, 285}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor2_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 285}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 285}</string>
			<key>spriteSourceSize</key>
			<string>{160, 285}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1124, 287}, {160, 285}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor2_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {185, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{185, 286}</string>
			<key>spriteSourceSize</key>
			<string>{185, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{612, 0}, {185, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor2_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {161, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{161, 286}</string>
			<key>spriteSourceSize</key>
			<string>{161, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{854, 288}, {161, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor2_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {165, 285}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{165, 285}</string>
			<key>spriteSourceSize</key>
			<string>{165, 285}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1124, 0}, {165, 285}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {298, 285}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{298, 285}</string>
			<key>spriteSourceSize</key>
			<string>{298, 285}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{337, 288}, {298, 285}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {199, 287}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{199, 287}</string>
			<key>spriteSourceSize</key>
			<string>{199, 287}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 868}, {199, 287}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {157, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{157, 286}</string>
			<key>spriteSourceSize</key>
			<string>{157, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{854, 576}, {157, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {181, 285}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{181, 285}</string>
			<key>spriteSourceSize</key>
			<string>{181, 285}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{953, 864}, {181, 285}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {158, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{158, 286}</string>
			<key>spriteSourceSize</key>
			<string>{158, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 0}, {158, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {163, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{163, 286}</string>
			<key>spriteSourceSize</key>
			<string>{163, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{799, 0}, {163, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon2_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {241, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{241, 149}</string>
			<key>spriteSourceSize</key>
			<string>{241, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 776}, {241, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon2_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {209, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{209, 192}</string>
			<key>spriteSourceSize</key>
			<string>{209, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1154}, {209, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon2_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {134, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{134, 149}</string>
			<key>spriteSourceSize</key>
			<string>{134, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1287, 526}, {134, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon2_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {129, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{129, 149}</string>
			<key>spriteSourceSize</key>
			<string>{129, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1229, 828}, {129, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon2_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 149}</string>
			<key>spriteSourceSize</key>
			<string>{127, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1206, 1289}, {127, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon2_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 149}</string>
			<key>spriteSourceSize</key>
			<string>{132, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1287, 677}, {132, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {170, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{170, 149}</string>
			<key>spriteSourceSize</key>
			<string>{170, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 868}, {170, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {163, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{163, 149}</string>
			<key>spriteSourceSize</key>
			<string>{163, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1862}, {163, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 148}</string>
			<key>spriteSourceSize</key>
			<string>{123, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1433, 0}, {123, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 148}</string>
			<key>spriteSourceSize</key>
			<string>{116, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1432, 390}, {116, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 149}</string>
			<key>spriteSourceSize</key>
			<string>{116, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1360, 828}, {116, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dragon_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{119, 149}</string>
			<key>spriteSourceSize</key>
			<string>{119, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1291, 979}, {119, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elder_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {272, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{272, 237}</string>
			<key>spriteSourceSize</key>
			<string>{272, 237}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 537}, {272, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elder_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{105, 236}</string>
			<key>spriteSourceSize</key>
			<string>{105, 236}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1017, 288}, {105, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elder_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 236}</string>
			<key>spriteSourceSize</key>
			<string>{90, 236}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 1492}, {90, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elder_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 236}</string>
			<key>spriteSourceSize</key>
			<string>{91, 236}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1136, 813}, {91, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elder_idle_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 237}</string>
			<key>spriteSourceSize</key>
			<string>{92, 237}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 1683}, {92, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elder_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 236}</string>
			<key>spriteSourceSize</key>
			<string>{89, 236}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1200, 1051}, {89, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elder_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 236}</string>
			<key>spriteSourceSize</key>
			<string>{93, 236}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{709, 1492}, {93, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_1_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {45, 80}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{45, 80}</string>
			<key>spriteSourceSize</key>
			<string>{53, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 310}, {45, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_1_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 80}</string>
			<key>spriteSourceSize</key>
			<string>{53, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 537}, {53, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_2_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 1}, {44, 76}}</string>
			<key>spriteOffset</key>
			<string>{14, 2}</string>
			<key>spriteSize</key>
			<string>{44, 76}</string>
			<key>spriteSourceSize</key>
			<string>{72, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 392}, {44, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_2_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 82}</string>
			<key>spriteSourceSize</key>
			<string>{72, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{243, 776}, {72, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_3_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 10}, {42, 76}}</string>
			<key>spriteOffset</key>
			<string>{13, -5}</string>
			<key>spriteSize</key>
			<string>{42, 76}</string>
			<key>spriteSourceSize</key>
			<string>{68, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 619}, {42, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heart_3_b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 86}</string>
			<key>spriteSourceSize</key>
			<string>{68, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 1169}, {68, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mother_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 236}</string>
			<key>spriteSourceSize</key>
			<string>{128, 236}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1070, 1151}, {128, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mother_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 236}</string>
			<key>spriteSourceSize</key>
			<string>{128, 236}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 1683}, {128, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief2_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {249, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{249, 224}</string>
			<key>spriteSourceSize</key>
			<string>{249, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{329, 575}, {249, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief2_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{168, 226}</string>
			<key>spriteSourceSize</key>
			<string>{168, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 1495}, {168, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief2_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 223}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{186, 223}</string>
			<key>spriteSourceSize</key>
			<string>{186, 223}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 1267}, {186, 223}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief2_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{186, 225}</string>
			<key>spriteSourceSize</key>
			<string>{186, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1635}, {186, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief2_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {196, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{196, 226}</string>
			<key>spriteSourceSize</key>
			<string>{196, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{419, 1267}, {196, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief2_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {191, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{191, 226}</string>
			<key>spriteSourceSize</key>
			<string>{191, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 1455}, {191, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {280, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{280, 225}</string>
			<key>spriteSourceSize</key>
			<string>{280, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 310}, {280, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {167, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{167, 225}</string>
			<key>spriteSourceSize</key>
			<string>{167, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 1723}, {167, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {206, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{206, 225}</string>
			<key>spriteSourceSize</key>
			<string>{206, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 1228}, {206, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {207, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{207, 225}</string>
			<key>spriteSourceSize</key>
			<string>{207, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{433, 1040}, {207, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{218, 225}</string>
			<key>spriteSourceSize</key>
			<string>{218, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 927}, {218, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thief_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {211, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{211, 226}</string>
			<key>spriteSourceSize</key>
			<string>{211, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{220, 1000}, {211, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>young_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {335, 308}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{335, 308}</string>
			<key>spriteSourceSize</key>
			<string>{335, 308}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {335, 308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>young_hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {163, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{163, 237}</string>
			<key>spriteSourceSize</key>
			<string>{163, 237}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1122, 574}, {163, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>young_idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 237}</string>
			<key>spriteSourceSize</key>
			<string>{140, 237}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1291, 0}, {140, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>young_idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 236}</string>
			<key>spriteSourceSize</key>
			<string>{140, 236}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{805, 1308}, {140, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>young_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{105, 237}</string>
			<key>spriteSourceSize</key>
			<string>{105, 237}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{473, 801}, {105, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>young_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {115, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{115, 237}</string>
			<key>spriteSourceSize</key>
			<string>{115, 237}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{953, 1151}, {115, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>young_run_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 237}</string>
			<key>spriteSourceSize</key>
			<string>{144, 237}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1286, 287}, {144, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>characters.zwd</string>
		<key>textureFileName</key>
		<string>characters.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>